body {
    background-color: beige;

}

.switcher {
    position: absolute;
    top: 50%;
    left: 50%;
}

input[type='checkbox'] {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 30px;
    appearance: none;
    outline: none;
    background: yellow;
    border-radius: 30px;
    transition: 1s;
    box-shadow: inset 0 0 10px rgba(255, 196, 0, 0.9);
    /* border: 1.0px solid rgba(175, 172, 11, 0.911); */

}

input:checked[type='checkbox'] {

    background: rgb(171, 255, 4);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .9);
}

input[type='checkbox']:before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';

    width: 30px;
    height: 30px;
    border-radius: 30px;
    top: 0;
    left: 0;
    background: rgb(11, 139, 11);
    transition: 1s;
    transform: scale(0.9);
    box-shadow: inset 0px 0px 10px rgb(0,
            0,
            0,
            .9);
    /* border: 1.0px solid rgba(112, 175, 11, 0.911); */

}

input:checked[type='checkbox']:before {
    left: 30px;
}