body {
    background-color: beige;

}

.switcher {
    position: absolute;
    top: 50%;
    left: 50%;
}

input[type='checkbox'] {
    position: relative;
    width: 85px;
    height: 40px;
    appearance: none;
    outline: none;
    background: yellow;
    border-radius: 20px;
    transition: 1s;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .9);

}

input:checked[type='checkbox'] {
    background: rgb(171, 255, 4);
}

input[type='checkbox']:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: rgb(11, 139, 11);
    transition: 1s;
    transform: scale(1.1);
    box-shadow: inset 0px 0px 4px rgb(1, 59, 6);
    border: 0.1px solid rgba(112, 175, 11, 0.911);

}

input:checked[type='checkbox']:before {
    left: 42.5px;
}